{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block left_sidebar %}
     {% include 'left-sidebar.html.twig' %}
{% endblock %}


{% block body %}
    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
                <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
                <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div><!--//container-->
        </section>
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                {% for post in posts %}
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ asset(post.imageWebLocation) }}" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="{{ path('single-post', {'slug': post.slug}) }}">{{ post.title }}</a></h3>
                            <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>
                            <div class="intro">{{ post.excerpt }}</div>
                            <a class="more-link" href="{{ path('single-post', {'slug': post.slug}) }}">Read more &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
                {% endfor %}


               

                {% set pageNumber = pageNumber is defined ? pageNumber : 1 %}
                {% if posts.totalItemCount > 10 %}
                    <nav class="blog-nav nav nav-justified my-5">
                        {% if pageNumber > 1 %}
                            <a class="nav-link-prev nav-item nav-link rounded-left" href="{{ path('post-list-front', {'pageNumber':  pageNumber - 1  }) }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                        {% endif %}
                        {% if posts.totalItemCount > 10 * pageNumber %}
                            <a class="nav-link-next nav-item nav-link rounded" href="{{ path('post-list-front', {'pageNumber':  pageNumber + 1  }) }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                        {% endif %}
                    </nav>
                {% endif %}

            </div>
        </section>

        <footer class="footer text-center py-2 theme-bg-dark">

            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

        </footer>

    </div><!--//main-wrapper-->








    <!-- Javascript -->

{% endblock %}
